.wrapper {
    position: relative;
    display: inline-block;
    width: 700px;
    height: 250px;
}
.slider-middle {
    position: absolute;
    width: 40%;
    height: 70%;
    left: 30%;
    bottom: 10%;
    z-index: 100;
    transition-duration: 1s;
    box-shadow: 1px 15px 15px -5px gray;
}
.slider-left-1 {
    position: absolute;
    width: 20%;
    height: 35%;
    left: 12%;
    bottom: 15%;
    z-index: 99;
    opacity: 0.9;
    transition-duration: 1s;

    color: #fff;
}
.slider-left-2 {
    position: absolute;
    width: 14%;
    height: 22%;
    left: 0;
    bottom: 18%;
    z-index: 98;
    opacity: 0.8;
    transition-duration: 1s;
}
.slider-right-1 {
    position: absolute;
    width: 20%;
    height: 35%;
    left: 68%;
    bottom: 15%;
    z-index: 99;
    opacity: 0.9;
    transition-duration: 1s;
}
.slider-right-2 {
    position: absolute;
    width: 14%;
    height: 22%;
    left: 86%;
    bottom: 18%;
    z-index: 98;
    opacity: 0.8;
    transition-duration: 1s;
}

.slider-hide {
    width: 0;
    height: 0;
    opacity: 0;
    transition-duration: 1s;
}
#slider-btn {
    display: none;
}

#slider-btn .prev-btn {
    position: absolute;
    top: 50%;
    left: 31%;
    z-index: 200;
    color: #fff;
    cursor: pointer;
}
#slider-btn .next-btn {
    position: absolute;
    top: 50%;
    left: 66%;
    z-index: 200;
    color: #fff;
    cursor: pointer;
}
[class^=arr-] {
    /* Arrows @RCB */
    border: solid currentColor;
    border-width: 0 0.15em 0.15em 0;
    display: inline-block;
    padding: 0.5em;
}
.arr-right {
    transform: rotate(-45deg);
}
.arr-left {
    transform: rotate(135deg);
}

#rotate-slider {
    display: none;
}