#about p {
    text-align: right;
}
.domain-check ul li {
    padding-left: 28px;
}
.domain .form-group button {
    float: right;
    margin-right: 15px;
}
.domain .form-group .search-filters .domain-selector,
.domain .form-group button[type="submit"],
.domain .form-group input[type="search"] {
    float: right;
}

.navbar-brand img {
    margin-top: -16px;
}
.owl-carousel .owl-stage-outer {
    direction: ltr;
}
.owl-prev {
    margin-left: 6px;
}
.top-footer .footer-links {
    text-align: right !important;
}
.info .info-text p {
    text-align: right !important;
}
a.blog-more-btn i {
    transform: rotateZ(-180deg) !important;
}
.owl-prev {
    transform: rotateZ(-180deg) !important;
}
.owl-next {
    transform: rotateZ(-180deg) !important;
}
.swiper-button-prev {
    transform: rotateZ(-180deg) !important;
}
.swiper-button-next i {
    transform: rotateZ(-180deg) !important;
}
/* body {
    font-family: open sans, Cairo, sans-serif
} */

h1,
h2,
h3,
h4,
h5,
h6 {font-family: roboto,Cairo, sans-serif;}
@media only screen and (max-width: 600px){
.navbar-toggle {
    /* float: right !important; */
    margin-right: 260px;
    margin-left: auto;
}}

@media (max-width: 992px)
{.navbar-header {
    float: left !important;
}}
